.group
  = link_to group_messages_path(group), class: 'group__box' do
    .group__name
      = group.name
    .group__message
      - if group.messages.empty?
        メッセージがありません
      - elsif group.messages.last.body.empty?
        画像が投稿されています
      - else
        = group.messages.last.try(:body)
