.sidebar
  .user
    .user__name seo
    .user__icons
      %a.user__icons__icon{href: "/messages"}
        %i.fa.fa-pencil-square-o
      %a.user__icons__icon{href: "/messages"}
        %i.fa.fa-cog
  .groups
    .group
      .group__name sample
      .group__message Good bye world!
    .group
      .group__name aaaaa
      .group__message まだメッセージはありません！
    .group
      .group__name sampleグループ
      .group__message まだメッセージがありません！
