.sidebar
  .user
    .user__name seo
    .user__icons
      = link_to root_path, class: 'user__icons__icon' do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class: 'user__icons__icon' do
        %i.fa.fa-cog
  .groups
    .group
      .group__name sample
      .group__message Good bye world!
    .group
      .group__name aaaaa
      .group__message まだメッセージはありません！
    .group
      .group__name sampleグループ
      .group__message まだメッセージがありません！
