@mixin light-color() {
  font-size: 12px;
  color: $gray;
}
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
@mixin forms() {
  height: 50px;
  margin: 20px 0;
  border: none;
  float: left;
  line-height: 50px;
}
@mixin chat-width() {
  padding: 0 40px;
}
