$white: #FFFFFF;

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.sidebar{
  width:300px;
  height:calc(100vh - 20px);
  .user{
    padding:0 20px;
    background-color: #253141;
    height:70px;
    line-height: 70px;

    &__name{
      @include clearfix();
      color: $white;
      float:left;
      font-size:16px;
      font-weight: bold;
    }

    &__icons{
      float:right;
    }

    &__icon{
        color: $white;
        float:left;
        padding-left: 10px;
    }
  }
  .groups{
    padding:0 20px;
    background-color: #2f3e51;
    height:calc(100% - 70px);
    &__group{
      padding:20px 0;
    }

    &__name{
      color: $white;
      font-size: 15px;
      padding-bottom:5px;
    }
    &__massage{
      color: $white;
      font-size: 11px;
    }
  }
}
