.sidebar {
  width: 300px;
  height: 100%;
  float: left;

  .user {
    padding: 0 20px;
    background-color: $sidebar-top;
    height: 110px;
    line-height: 110px;

    &__name {
      @include clearfix();
      color: $white;
      float: left;
      font-size: 16px;
      font-weight: bold;
    }

    &__icons {
      float: right;

      &__icon {
        color: $white;
        float: left;
        padding-left: 10px;
      }
    }
  }

  .groups {
    padding: 0 20px;
    background-color: $sidebar-bottom;
    height: calc(100vh - 110px);

    .group {
      padding: 20px 0;
      &__box {
        @include text-decoration();
      }
      &__name {
        color: $white;
        font-size: 15px;
        padding-bottom: 5px;
      }

      &__message {
        color: $white;
        font-size: 11px;
      }
    }
  }
}
