$lightblue: #38aef0;
$white: #ffffff;
$textcolor: #434a54;
$gray: #999999;
$body-gray: #fafafa;
$border: #eeeeee;
$group-name: #333333;
$footer-gray: #ddd;
$sidebar-top: #253141;
$sidebar-bottom: #2f3e51;
$orange: #D65F4C;
