$lightblue: #38aef0;
$white: #ffffff;
$textcolor: #434a54;
$gray: #999999;
$body-gray: #fafafa;
$border: #eeeeee;
$group-name: #333333;
$light-gray: #dddddd;
$sidebar-top: #253141;
$sidebar-bottom: #2f3e51;
$orange: #d65f4c;
$error-red: #f05050;
